<header hx-boost="true" hx-swap="innerHTML show:no-scroll">
  {% include "includes/logo.html" %}
  <nav class="columns">
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('movies.movie_create')}}" class="btn btn-primary"><i class="icon ti ti-plus"></i>Добавить Фильм</a>
      {% if current_user.is_superuser %}
        <a href="{{ url_for('auth.users') }}" class="btn"><i class="icon ti ti-brand-google-home"></i><span>Панель управления</span></a>
      {% endif %}
      <a href="{{ url_for('auth.logout') }}" class="btn"><img src="{{ url_for('static', filename='img/avatar.svg') }}" alt="" title="{{ current_user.username }}" class="user__avatar"><span>Выйти</span></a>
    {% else %}
      <a href="{{ url_for('auth.login')}}" class="btn">Вход</a>
      <a href="{{ url_for('auth.signup')}}" class="btn btn-primary">Регестрация</a>      
    {% endif %}
  </nav>
</header>
